body {
    font-family: 'Nunito';
    font-size: 22px;
}

* {
   box-sizing: border-box; 
   margin: 0;
   padding: 0;
}


table {
    text-align: center;
    line-height: 200%;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    border-collapse:collapse;
}


h1 {
    color: #496BD8;
}

h3 {
    color: #FC7629;
    font-size: 30px;
    font-weight: bold;
}

p {
    color: #2A3655;
    font-weight: bold;
}

.sup_element {
    color: red;
}


footer strong {
    text-decoration: underline wavy #FF66CE;
}

mark {
    border-radius: 5px;
}

div#main-content {
    background-color: #CACACA;
    padding: 20px;
    display: flex;
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: flex-end; */
    /* align-content: center; */
    
}

a:hover {
   color: #FF66CE; 
}
a {
    display: flex;
    
}

#articles {
    flex-grow: 1;
}
#skills {
    flex-grow: 1;
    /* align-self: center; */
}

header {
    display: flex;
    justify-content: space-between;
}
#powrot {
    text-align: right;
}