body {
    font-family: 'Climate Crisis';
    font-size: 20px;
    margin-left: 100px;
    margin-top: 100px;
    /* background-image: url(https://picsum.photos/id/237/200/300
    ); */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


td { /* selector*/

    text-align: center; /*
    property     value; */
}  

table {
    text-align: center; /*
    property     value; */
    line-height: 200%;
    width: 300px;
    height: 200px;
    border:  1px solid black;
    border-collapse: collapse;
}
.sup_element {
    color: red;
}
h1 {
    color: blue;
}

h3 {
    color: blueviolet;
    font-size: 30px;
    font-weight: bold;
}

p{
    color: brown;
    font-weight: bold;

}
footer strong {
    text-decoration: underline wavy ;
}

mark {
    border-radius: 5px;
}

div#main_content {

    background-color: cornflowerblue;
    padding:  20px;
    border-style: dotted; 

}
a:hover {
    color: blueviolet;
} /*podswietlanie po najechaniu*/

table tr:first-child {
    color:  blue;
}
span {
    display: block;
}
header a {
    float: right;
}
article {
    
}

/* body {

    color: blue;
} */


/* h3, p {

    color: aquamarine;
} */



/* sup.sup_element {

    color: red;
} */

/* footer p {
    color: aqua;
} */   /*kazdy p pod footer bedie mial takie cechy */

/* footer > p {

    color: blueviolet;
} bezposrednie dziecko ma cechy  */

/* .first-class {
    color:  green;
}
h1 {
    color: green;
}
.third-class {
    color: red !important;
}
#first-id {
    color: blue;
} */